<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
    <generatePublisherEvidence enabled="false" />
    <loadFromRemoteSources enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="1" />
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>