<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RemoteDesktopManager.Jump.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
    <generatePublisherEvidence enabled="false" />
    <loadFromRemoteSources enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="1" />
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <RemoteDesktopManager.Jump.Agent.Properties.Settings>
      <setting name="PromptForAutoStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationLogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableFileAssociation" serializeAs="String">
        <value>True</value>
      </setting>
    </RemoteDesktopManager.Jump.Agent.Properties.Settings>
  </userSettings>
</configuration>